<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="autoMappingBehavior" value="PARTIAL" /><!-- 測試 -->
	</settings>

	<environments default="DaoEnvironment">
		<environment id="DaoEnvironment">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<property name="url"
					value="jdbc:postgresql://192.168.1.20:5430/procal_chiayi" />
				<property name="username" value="postgres" />
				<property name="password" value="postgres" />
				<property name="poolMaximumActiveConnections" value="10" />
				<property name="poolMaximumIdleConnections" value="5" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingQuery" value="select 1" />
			</dataSource>
		</environment>
		<environment id="ConfigDaoEnvironment">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<property name="url"
					value="jdbc:postgresql://192.168.1.20:5430/locator4_chiayi_county_water" />
				<property name="username" value="postgres" />
				<property name="password" value="postgres" />
				<property name="poolMaximumActiveConnections" value="10" />
				<property name="poolMaximumIdleConnections" value="5" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingQuery" value="select 1" />
			</dataSource>
		</environment>
		<environment id="ProcalConfigDaoEnvironment">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<property name="url"
					value="jdbc:postgresql://192.168.1.20:5430/procal_chiayi" />
				<property name="username" value="postgres" />
				<property name="password" value="postgres" />
				<property name="poolMaximumActiveConnections" value="10" />
				<property name="poolMaximumIdleConnections" value="5" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingQuery" value="select 1" />
			</dataSource>
		</environment>
		<environment id="AlertDaoEnvironment">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<property name="url"
					value="jdbc:postgresql://192.168.1.20:5430/procal_chiayi" />
				<property name="username" value="postgres" />
				<property name="password" value="postgres" />
				<property name="poolMaximumActiveConnections" value="10" />
				<property name="poolMaximumIdleConnections" value="5" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingQuery" value="select 1" />
			</dataSource>
		</environment>
		<environment id="InsertDaoEnvironment">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<property name="url"
					value="jdbc:postgresql://192.168.1.20:5430/procal_chiayi" />
				<property name="username" value="postgres" />
				<property name="password" value="postgres" />
				<property name="poolMaximumActiveConnections" value="10" />
				<property name="poolMaximumIdleConnections" value="5" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingQuery" value="select 1" />
			</dataSource>
		</environment>
		<environment id="PokerDaoEnvironment">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<property name="url"
					value="jdbc:postgresql://192.168.1.20:5430/locator4_wragovcloud" />
				<property name="username" value="postgres" />
				<property name="password" value="postgres" />
				<property name="poolMaximumActiveConnections" value="10" />
				<property name="poolMaximumIdleConnections" value="5" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingQuery" value="select 1" />
			</dataSource>
		</environment>
		<environment id="FakeDataDaoEnvironment">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<property name="url"
					value="jdbc:postgresql://192.168.1.20:5430/locator4_chiayi_county_water" />
				<property name="username" value="postgres" />
				<property name="password" value="postgres" />
				<property name="poolMaximumActiveConnections" value="10" />
				<property name="poolMaximumIdleConnections" value="5" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingQuery" value="select 1" />
			</dataSource>
		</environment>
		<environment id="ConfigDaoEnvironment">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<property name="url"
					value="jdbc:postgresql://192.168.1.20:5430/locator4_changhua2" />
				<property name="username" value="postgres" />
				<property name="password" value="postgres" />
				<property name="poolMaximumActiveConnections" value="10" />
				<property name="poolMaximumIdleConnections" value="5" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingQuery" value="select 1" />
			</dataSource>
		</environment>		
		<environment id="DataDaoEnvironment">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<property name="url"
					value="jdbc:postgresql://192.168.1.20:5430/procal_wra05" />
				<property name="username" value="postgres" />
				<property name="password" value="postgres" />
				<property name="poolMaximumActiveConnections" value="10" />
				<property name="poolMaximumIdleConnections" value="5" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingQuery" value="select 1" />
			</dataSource>
		</environment>			
	</environments>
	<mappers>
		<mapper resource="Dao.xml" />
		<mapper resource="com/wavegis/engin/db/read_conf/DBConfigDao.xml" />
		<mapper resource="com/wavegis/engin/db/read_conf/ProcalDBConfigDao.xml" />
		<mapper resource="com/wavegis/engin/db/read_conf/DBDao.xml" />
		<mapper resource="com/wavegis/engin/db/insert/rain/RainDao.xml" />
		<mapper resource="com/wavegis/engin/db/insert/raw/RawDao.xml" />
		<mapper resource="com/wavegis/engin/db/insert/water/WaterDao.xml" />
		<mapper resource="com/wavegis/engin/db/alert_check/AlertDao.xml" />
		<mapper resource="com/wavegis/engin/db/data_check/PokerDao.xml" />
		<mapper resource="com/wavegis/engin/db/fake/FakeGpsDao.xml" />
		<mapper resource="com/wavegis/engin/db/alert_check/AlertDao.xml" />
	</mappers>
</configuration>