<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<bean id="StartUI" class="com.kiwi.ui.StartUI" />

	<bean id="Service" class="com.kiwi.service.Service" />

	<bean id="Controller" class="com.kiwi.controller.Controller" />

	<bean id="DaoManager" class="com.kiwi.dao.DaoManager" />


</beans>