<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<bean id="MainUI" class="com.kiwi.basic_construction.MainUI" />

	<bean id="Controller" class="com.kiwi.basic_construction.Controller" />
	
	<bean id="Service" class="com.kiwi.basic_construction.Service" />
	
	<bean id="DAO" class="com.kiwi.basic_construction.Dao"></bean>

</beans>